<!DOCTYPE html>
<html>
    <head>
        <title>Book Finder</title>
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        <%- include('./partials/navbar') %>
        <%- body %>
    </body>
</html>