<h1>Found some books</h1>

<% books.map(book => { %>
 
  <h3>Title: <%= book.volumeInfo.title %></h3> 
  <form method="POST" action="/review/new">
  <label for="content">Review</label>
  <input id="content" type="text" name="content">
  <label for="rating">Rating</label>
  <input for="rating" type="text" name="rating">
  <input type="submit">
</form>
  <% }) %>
   




 