<h1>This is the reviews page</h1>

<form method="POST" action="/review/new">
  <label for="content">Review</label>
  <input id="content" type="text" name="content">
  <label for="rating">Rating</label>
  <input for="rating" type="text" name="rating">
  <input type="submit">
</form>




<!-- <form action="/auth/login" method="POST">
  <label for="auth-email">Email</label>
  <input id="auth-email" type="email" name="email">
  <label for="auth-password">Password</label>
  <input id="auth-password" type="password" name="password">
  <input type="submit" value="Log In">
</form> -->