<h1>This is the search page</h1>

<form method="GET" action="/results">
  <label id="search-input">Search for a book!</label>
  <input name="search" type="text" placeholder="title..." />
  <input type="submit" />
</form>