
body {
    margin: 0;
}

h1 {
    display: flex;
    justify-content: space-around;
    font-size: 300%;
}

img {
    width: 200px;
}

div {
    text-align: center;
}

nav {
    display: flex;
    justify-content: space-between;
    background-color: rgb(142, 204, 240);
    padding: 10px;
    border: black solid 3px;
    height: 30px;
}

nav a {
    color: black;
    text-decoration: none;
    padding: 5px;
    font-size: 22px;
}

nav a:hover {
    color: red;
}